/*nav*/
@media (max-width:929px) {
    .nav-a-container{
        display: none;
    }
    
}
@media (max-width:375px) {
    .about-me-image img,.header-image{
        width: 100%;
        height: auto;
    }
   .counter1,.about-heading{
        
        font-size: 1.5rem;
    }
    
   
}
@media (max-width:450px) {
    .projec-img img{
   width: 100%;
        height: auto;
    }
    
}

@media (max-width:425px) {
    .Services-heading h1{
        font-size: 1.5rem;
    }
    .Services-heading{
      gap: 20px;
      padding: 10px;
      align-items: center;
    }
    .nav-div{
        width: 95%;
    }
    .skills-cotainer h1,.skill-image h1{
        font-size: 1.5rem;
    }
    

}
@media (min-width:425px) {
.second-nav{
    display: none;
}

}

@media (max-width:850px) {
    .main-header{
        flex-wrap: wrap;
    }
    .Services-div{
        flex-wrap: wrap;
    }
}

@media (max-width:947px) {
    .about-me-container{
        flex-direction: column-reverse;
    }
    .skill-content{
        flex-wrap: wrap;
        gap: 10px;
    }
    
}