.services-page-top-hd{
    
    height: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-header-img{
    height: 300px;
    width: 500px;

}
.services-header-img img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.heading-web-srvs-p{
    font-size: larger;
    color: #FAAD1B;
}

.heading-web-srvs{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-container{
    background-color: #344C36;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.srvs-ul{
    padding:  10px;
}

 /* .Services-div{
    display: flex;
    overflow-x: auto;
    gap: 20px; 
    scroll-snap-type: x mandatory;
    padding: 10px;
}  */





/* .prev-btn-sr{
    font-size: 1.5rem;
    color: #344C36;
    background-color: #FAAD1B;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 10px;
} */
