.services-page-top-hd{
    text-align: center;
    padding: 30px;
}

.services-section {
    background-color: #ffffff;
    padding: 60px 20px;
   
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
  }
  
  .section-subtitle {
    color: #344C36;
    margin-bottom: 30px;
  }
  
  /* Scrollable row */
  .services-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 30px;
    scroll-behavior: smooth;

   
  }
  
  .service-card {
    flex: 0 0 280px;
    background-color: #F5F5F5;
    padding: 25px 20px;
    border-radius: 15px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); */
    text-align: left;
    transition: 0.3s ease;
    box-shadow: 0 0px 10px #FAAD1B;
    background-color: #344C36;
  }
  
  .service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  }
  
  .service-card .icon {
    font-size: 36px;
    margin-bottom: 12px;
    background-color: #FAAD1B;
    display: flex;
    width: 50px;
   padding: 10px;
    border-radius: 50%;
    height: 50px;
  }
  .icon img{
    height: 50px;
  }
  
  .service-card h3 {
    font-size: 1.2rem;
    color: #FAAD1B;
    margin: 10px 0px 10px 0px;
  }
  
  .service-card p {
    font-size:1rem;
    color: #ffffff;
    font-weight: 500;
  }
  
  /* Optional: Hide scrollbar for clean look */
  .services-scroll::-webkit-scrollbar {
    height: 8px;
  }
  .services-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  