
  #typewriter{
    color: rgb(255, 17, 17);
  font-size: 30px;
    font-weight: 600;
    
  /* background-color: #f8313e; */
  padding:  10px;
  border-radius: 15px;
  }
  .cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s steps(2, start) ease-out;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  