.blog-thumbnail{
    max-height: max-content;
text-align: center;
padding: 10px;
display: flex;
flex-direction: column;
gap: 20px;

}

.thumbnail-img{
    height: 400px;
   
}
.blog-thumbnail img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}
.blogs-section-container{
    padding: 20px;
    
}
.blog-container{
    max-width: 700px;
    padding: 10px;
 
}
.blog-artical{
    color: black;
    border:1px solid #344C36;
    box-shadow: 0 0px 3px #FAAD1B;
    padding: 20px;
    border-radius: 5px;
}
.blog-artical p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-ul{
    padding: 10px;
}
.get-quote-img{
    height: 430px;
}
.get-quote-img img{
    max-width: 100%;
    max-height: 100%;
}